# --- Core Data & Math ---
numpy
pandas
scipy
networkx
sympy

# --- Visualization ---
matplotlib
# ipympl is often needed for interactive plots in Jupyter
ipympl

# --- Jupyter Environment ---
notebook
jupyterlab

# --- Collision Detection / Geometry (Optional) ---
shapely

# --- Image Processing (Optional) ---
Pillow

# --- statistical data visualization ---
seaborn

# --- waitbars ---
tqdm